Please enter your email address and we will send you a link to enable you to reset your password.
<form action="/users/reset_password" method="post">
  Email<input type="text" name="email">
  <input type="submit" value="Reset password">
</form>