Please enter the following details to reset your password
  <form action="/users/reset_password" method="post">
    Email: <input name ="email" type="text">
    New Password: <input name="new_password" type="password">
    Confirm New Password: <input name="new_password_confirmation" type="password">
    <input type="hidden" value="<%= "#{@token}" %>" name="token" >
    <input type="submit" value="Reset password">
  </form> 