<!DOCTYPE html>
<html>
  <body>

    <% if flash[:notice] %>
      <section id="notice"><%= flash[:notice] %></section>
    <% end %>

    <% if current_user %>
    Welcome, <%= current_user.email %>
    <% end %>
    
    <%= yield %>
  
  </body>
</html>